import 

.title {
  color: var(--primary-color);
  font-size: 3rem;
}

.sub-title {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.text {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1rem;
  padding: 5px 0;;
}